<div class="container">
    <h1>Feedback Form</h1>
  
    <form [formGroup]="feedbackForm" (ngSubmit)="submitForm()">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
  
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description" required></textarea>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Like or Dislike" formControlName="likeordislike" required>
          <mat-option value="true">Like</mat-option>
          <mat-option value="false">Dislike</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input type="file" (change)="onFileChange($event)" accept="image/*" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  